---
image: node:10-alpine

variables:
# https://docs.gitlab.com/ce/ci/variables/README.html
  app_version: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHA
  registry_image: $CI_REGISTRY_IMAGE
  DOCKER_HOST: tcp://localhost:2375

stages:
  - info
  - "build and push base image"
  - "build and push base-dependencies image"
# - "build and push tremplin images"

info:
  stage: info
  image: docker:latest
  script:
    - docker --version

include:
  - local: '/scripts/build/.gitlab-ci/build.gitlab-ci.yml'


# build-and-push-tremplin-frontend-image:
#   stage: "Build & Push Docker Image"
#   image: docker:latest
#   variables:
#     DOCKER_HOST: tcp://localhost:2375
#   services:
#   - docker:dind
#   script:
#   - cd packages/app
#   - docker login  $CI_REGISTRY -u gitlab-ci-token -p $CI_JOB_TOKEN
#   - docker build -t "$CI_REGISTRY_IMAGE/frontend:latest" .
#   - docker push "$CI_REGISTRY_IMAGE/frontend:latest"


