---
image: docker:18.09

variables:
# https://docs.gitlab.com/ce/ci/variables/README.html
  APP_VERSION: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHA
  REGISTRY_IMAGE: $CI_REGISTRY_IMAGE
  DOCKER_NODE_IMAGE: node:10.15-jessie
  DOCKER_COMPOSE_VERSION: 1.19.0
  DOCKER_HOST: tcp://localhost:2375

stages:
- info
- "build and push images"

info:
  stage: info
  script:
    - docker --version

build-image-app:
  services:
    - docker:dind
  stage: "build and push images"
  before_script:
    - docker login  $CI_REGISTRY -u gitlab-ci-token -p $CI_JOB_TOKEN
    - apk update && apk add --no-cache bash py-pip openssl
    - pip install docker-compose==${DOCKER_COMPOSE_VERSION}
  script:
    - docker-compose build
    - docker push ${REGISTRY_IMAGE}/api:${APP_VERSION}
    - docker push ${REGISTRY_IMAGE}/app:${APP_VERSION}
  after_script:
    - docker logout


