---
image: docker:18.09

variables:
# https://docs.gitlab.com/ce/ci/variables/README.html
  app_version: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHA
  registry_image: $CI_REGISTRY_IMAGE
  branch_or_tag: $CI_COMMIT_REF_NAME
  docker_node_image: node:10.15-jessie
  DOCKER_HOST: tcp://localhost:2375

stages:
  - info
  - "build and push base image"
  - "build and push base-dependencies image"
  - "build and push tremplin images"

info:
  stage: info
  script:
    - docker --version

include:
  - local: '/scripts/build/.gitlab-ci/build.gitlab-ci.yml'
